@media (min-width: 200px) {
  .timelineDates {
    flex-direction: column;
  }

  .timelineDateText {
    text-align: left !important;
  }

  .timelineDot {
    display: none !important;
  }
}

@media (min-width: 574px) {
  .timelineDates {
    flex-direction: row;
  }

  .timelineDateText {
    text-align: right !important;
  }

  .timelineDot {
    display: flex !important;
  }
}
